# App
APP_NAME=cicd-demo
APP_PORT=8000
ENVIRONMENT=production

# GCP
GCP_PROJECT_ID=your-project-id
GCP_REGION=asia-south1
GCP_ZONE=asia-south1-a
GCP_VM_NAME=cicd-vm

# Registry
GCR_REGISTRY=gcr.io

# Nginx
NGINX_PORT=80
